--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn
python-multipart
sqlalchemy
crewai
langchain-groq
langchain-community
duckduckgo-search
llama-index-core
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index-readers-file
llama-index-postprocessor-cohere-rerank
llama-index-llms-groq
qdrant-client
PyMuPDF